<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-firestore.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBtwwk2tb9t53XjoNVRhUdBgMKuioCo5CQ",
        authDomain: "newsbox-55dc5.firebaseapp.com",
        databaseURL: "https://newsbox-55dc5.firebaseio.com",
        projectId: "newsbox-55dc5",
        storageBucket: "newsbox-55dc5.appspot.com",
        messagingSenderId: "520977357139",
        appId: "1:520977357139:web:ba5adb2dc112d0b115a9a6"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>
</body>

</html>