<%- include('../partials/head') -%>

<body class="bg-utility-settingsbg">
    <header
        class="header flex items-center justify-between flex-row py-5 px-5 border-solid border-border-grey border-b bg-white">
        <a href="../index.html">
            <img src="../assets/images/icn_back.svg" alt="">
        </a>
        <h3 class="text-18px font-bold">News settings</h3>
        <a href="">
            <img src="../assets/images/ic_settings_24px.svg" alt="">
        </a>
    </header>
    <main class="bg-utility-settingsbg">
        <div class="bg-utility-settingsbg flex flex-col items-center py-4">
            <h1 class="text-30px font-bold text-primary-sage">Manage</h1>
            <h3 class="text-20px text-typography-grey">Categories</h3>
        </div>
        <ul class="round bg-white mx-4 rounded-12px shadow-sm border border-secondary-ice mt-10">
            <li class="flex flex-row justify-between p-5 border-b border-secondary-ice">
                <h3 class="text-15px font-bold uppercase">Category</h3>
                <div
                    class="bg-utility-bordergrey border-2 rounded-full border-utility-bordergrey flex items-center cursor-pointer w-12 justify-start">
                    <span class="bg-white w-6 h-6 rounded-full shadow-md shadow"></span>
                </div>
            </li>
            <li class="flex flex-row justify-between p-5 border-b border-secondary-ice">
                <h3 class="text-15px font-bold uppercase">Category</h3>
                <div
                    class="bg-primary-sage border-primary-sage border-2 rounded-full flex items-center cursor-pointer w-12 justify-end">
                    <span class="bg-white w-6 h-6 rounded-full shadow-md shadow"></span>
                </div>
            </li>
            <li class="flex flex-row justify-between p-5 border-b border-secondary-ice">
                <h3 class="text-15px font-bold uppercase">Category</h3>
                <div
                    class="bg-primary-sage border-primary-sage border-2 rounded-full flex items-center cursor-pointer w-12 justify-end">
                    <span class="bg-white w-6 h-6 rounded-full shadow-md shadow"></span>
                </div>
            </li>
            <li class="flex flex-row justify-between p-5 border-b border-secondary-ice">
                <h3 class="text-15px font-bold uppercase">Category</h3>
                <div
                    class="bg-primary-sage border-primary-sage border-2 rounded-full flex items-center cursor-pointer w-12 justify-end">
                    <span class="bg-white w-6 h-6 rounded-full shadow-md shadow"></span>
                </div>
            </li>
            <li class="flex flex-row justify-between p-5 border-b border-secondary-ice">
                <h3 class="text-15px font-bold uppercase">Category</h3>
                <div
                    class="bg-primary-sage border-primary-sage border-2 rounded-full flex items-center cursor-pointer w-12 justify-end">
                    <span class="bg-white w-6 h-6 rounded-full shadow-md shadow"></span>
                </div>
            </li>
        </ul>
        <div class="flex flex-col items-center pt-16">
            <h3
                class="uppercase flex self-center text-14px tracking-widest border border-secondary-fossil p-4 rounded-full">
                Toggle
                Dark
                Mode</h3>
            <p class="text-typography-slate pt-6">Version 4.8.15.16.23.42</p>
        </div>
    </main>


    <%- include('../partials/after-footer') -%>