// Primary colors
$sage: #87BCBF;
$rust: #D97D54;
$drab: #324755;
$danger: #D95454;

// Secondary colors
$ice: #F0F3F4;
$fossil: #C8D1D3;
$sand: #B9B0A2;

// Typography colors
$onyx: #1B1C20;
$slate: #6E8CA0;
$snow: #FFFFFF;